{
    "parser": "esprima",
    "env": {
        "commonjs": true,
        "es6": true,
        "browser": true,
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "ecmaVersion": 2017
        },
    },
    "rules": {
        "array-bracket-spacing": ["warn", "never"],
        "brace-style": "warn",
        "camelcase": ["warn", {"properties": "never"}],
        "comma-dangle": ["off"],
        "comma-spacing": ["warn", {"before": false, "after": true}],
        "curly": ["warn"],
        "eol-last": ["error"],
        "eqeqeq": ["warn", "smart"],
        "indent": ["off", 4, {"SwitchCase": 1}],
        "key-spacing": ["warn"],
        "linebreak-style": ["error", "unix"],
        "no-console": ["warn", {"allow": ["warn", "error"]}],
        "no-empty": ["warn"],
        "no-multi-spaces": ["warn"],
        "no-redeclare": ["warn"],
        "no-trailing-spaces": ["warn"],
        "no-unused-vars": ["warn", {"args": "none"}],
        "no-use-before-define": ["warn", "nofunc"],
        "object-curly-spacing": ["warn", "always"],
        "quotes": ["off", "double"],
        "semi": ["error", "always"],
        "semi-spacing": ["warn", {"before": false, "after": true}],
        "space-before-blocks": ["warn", {"functions": "never", "keywords": "never", "classes": "always"}],
        "space-before-function-paren": ["warn", {"anonymous": "never", "named": "never"}],
        "space-infix-ops": ["warn"],
        "space-in-parens": ["warn", "never"]
    },
}