html, body {
  height: 100%;
  background-color: #0C101A;
}

body {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textContainer {
  height: 2em;
  display: flex;
}

canvas {
  position: absolute;
  left: 0;
}

div p {
  color: #ff8a00;
  font-family: sans-serif;
  margin: auto;
}
